body {
  text-align: center;
  align-items: center;
}


.header {
  display: flex;
  margin: 0px;
  padding: 0px;
  background-color: aquamarine;
  justify-content: center;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.tablero {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.filaTablero {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.cuadroTablero {
  background-color: transparent;
  margin: 1px;
  border-color: grey;
  height: 50px;
  width: 50px;
  border-width: 1px;
  border-style: solid;
  display: flex;
}

.teclado {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-height: 100px;
  max-width: 500px;
}

.tecladoFila {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;

}

.tecla{
  flex-grow: 4;
  background-color: rgb(214, 216, 218);
  color: black;
  border-color: transparent;
  border-radius: 5px;
  margin: 2px;
  height: 60px;


}

.letraTablero {
  font-size: 38px;
  width: 100%;
  height: 100%;
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: justify;


}

.enter {
  flex-grow: 2;
}