:root {
  --main-bg-color: #121213;
  --correct-letter: #6aaa64;
  --present-letter: #c9b458;
  --missing-letter: #3a3a3c;
  --default-key-color: #767679;
  --default-text-color: #fafafa;
  --default-shadow-color: rgba(66, 153, 225, 0.6);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Roboto, sans-serif;
  background-color: var(--main-bg-color);
  text-decoration: none;
  color: #ffffff;
}

li {
  font-weight: bold;
  border-radius: 1rem;
}

.header {
  display: flex;
  height: 50px;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}

.header-menu {
  display: flex;
  list-style: none;
  height: 50px;
  justify-content: space-around;
  text-decoration: none;
  align-items: center;
  width: 40vw;
  border-bottom: 1px solid #676768;
}

.header nav ul li {
  border-radius: 10px;
  padding: 0 10px;

}

.header nav ul li:hover {
  background: #21272c;
  transition: all 0.2s linear;
}

#help-btn {
  cursor: pointer;
}

#header-title {
  cursor: default;
}

#stats-btn {
  cursor: pointer;
}