.modal--container {
  z-index: 5;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.281);
  display: flex;
}

.modal--container::before {
  content: "X";
  position: absolute;
  margin: 10px 10px 0 0;
  top: 0;
  right: 0;
  opacity: 0.5;
  font-size: 5rem;
}

.content--modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-width: 320px;
  margin: auto;
  background-color: var(--main-bg-color);
  color: var(--default-text-color);
  border-radius: 15px;
  padding: 30px;
}

.emoticons-container {
  width: 100%;
  text-align: center;
}

.stats-container {
  width: 100%;
  text-align: center;
  padding: 0px 15px;
}

.stats-tittle {
  width: 100%;
  margin: 20px 0px;
}
.stats-general-view {
  display: flex;
  justify-content: space-between;
  align-content: center;
  height: 50px;
  font-size: 20px;
  width: 100%;
}

.game-counter {
  display: flex;
  align-content: center;
}

.game-counter p {
  margin: auto;
}

.wins-counter {
  display: flex;
  align-content: center;
}

.wins-counter p {
  margin: auto;
}

.stats-distribution-view {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  margin: 10px 0px;
}

.stats-distribution-view p {
  height: 30px;
}

#matrix-txt {
  z-index: 1;
  position: fixed;
  width: 0px;
  height: 0px;
}
#copy-to-share-btn {
  cursor: pointer;
}

.social-networks {
  width: 100%;
  height: 100%;
}
#copy-to-share-btn {
  width: 100%;
  height: 100%;
  margin: 10px 0 0 0;
  background-color: var(--correct-letter);
  font-weight: bold;
  font-size: 24px;
  border-radius: 5px;
}