.teclado {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.tecladoFila {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.tecla {
  flex-grow: 4;
  background-color: #767679;
  color: #fff;
  font-weight: bold;
  font-size: larger;
  border-color: transparent;
  border-radius: 5px;
  margin: 4px 2px;
  height: 56px;
  min-width: 47px;
}

.tecla:hover{
  transition: all 0.3s linear;
  filter: opacity(50%);
}

.enter {
  flex-grow: 2;
}