.teclado {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.tecladoFila {
  flex-grow: 1;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

.tecla {
  flex-grow: 4;
  background-color: var(--default-key-color);
  color: var(--default-text-color);
  font-weight: bold;
  font-size: larger;
  border-radius: 5px;
  margin: 4px 2px;
  height: 56px;
  min-width: 47px;
  cursor: pointer;
  border: 3px solid transparent;
}

.tecla:hover{
  transition: all 0.3s linear;
  filter: opacity(50%);
}

.tecla:focus {
  transition: all 0.4s linear;
  border: 3px solid var(--default-shadow-color);
}

.enter {
  flex-grow: 2;
}